<div class="grid p-2 h-full w-full">
  <div class="col-4">
    <p-card header="Am Tisch dabei sind" class="h-full w-full">
      <div class="flex flex-column h-full w-full gap-3">
        @for (user of users$ | async; track user) {
          <p-chip label="{{user}}" />
        }
      </div>
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Join" class="w-full h-full">
      @defer (on idle){
        <qr-code [value]="joinUrl()" size="800" [darkColor]="primaryColor.value" [lightColor]="surfaceColor.value" styleClass="w-full h-auto"></qr-code>
        <div class="flex flex-column justify-content-center align-items-center mt-3">
          @if (showCopyCheck$ | async){
            <p-button icon="pi pi-check" label="Copy: {{joinUrl()}}" variant="outlined" (click)="copyLink()" (onClick)="copyLink()" (keydown.enter)="copyLink()" />
          }
          @else {
            <p-button label="Copy: {{joinUrl()}}" variant="outlined" (click)="copyLink()" (onClick)="copyLink()" (keydown.enter)="copyLink()" />
          }
        </div>

      } @placeholder (minimum 10ms){
        <div class="w-full h-3 block">...</div>
      }
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Durchschnitt" class="w-full h-full">
      <h1 class="avg">{{avg$ | async}}</h1>
    </p-card>
  </div>
</div>
